<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new post:</h3>

    <form class="form new-forum-form">
      <div class="form-group">
        <label for="forum-name">Title:</label>
        <input class="form-input" type="text" id="forum-name" name="forum-name" />
      </div>
      <div class="form-group">
        <label for="forum-name">Name of game:</label>
        <input class="form-input" type="text" id="forum-name" name="forum-name" />
      </div>
      <div class="form-group">
        <label for="forum-desc">Description:</label>
        <textarea class="form-input" id="forum-desc" name="forum-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
{{#if forums.length}}
  <div class="col-md-6 forum-list">
    <h3>Current forums:</h3>

    {{#each forums as |forum|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/forum/{{forum.id}}">{{forum.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{forum.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>