<div class="newpost-container">

{{!-- <div class="welcome-msg">
  Welcome, {{name}}!
</div> --}}


<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form method="POST">
        <div class="formbold-input-flex">
          <div>
              <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="Type title here..."
              class="formbold-form-input"
              />
              <label for="firstname" class="formbold-form-label"> Title: </label>
          </div>
          <div>
              <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Name of game..."
              class="formbold-form-input"
              />
              <label for="lastname" class="formbold-form-label"> Name of Game: </label>
          </div>
        </div>
        <div class="formbold-textarea">
            <textarea
                rows="10"
                name="message"
                id="message"
                placeholder="Type your description..."
                class="formbold-form-input"
            ></textarea>
            <label for="message" class="formbold-form-label"> Description: </label>
        </div>

        <button class="btn create-post-button">
            Create Post
        </button>
    </form>
  </div>
</div>


</div>

{{!-- {{#if forums.length}}
  <div class="col-md-6 forum-list">
    <h3>Current forums:</h3>

    {{#each forums as |forum|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/forum/{{forum.id}}">{{forum.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{forum.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="./js/profile.js"></script>