{{#if logged_in}}
<a class="btn custom-button create-post" href="/blog_new_post" role="button">Create Post</a>
{{/if}}


<div class="main-container"></div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px;"></a>

  <ul class="dropdown-menu">
    {{#each forums as |forum| }}
      <li><a class="dropdown-item" href="/Forum/{{forum.id}}">{{forum.name}}</a></li>
    {{/each}}
  </ul>
</div>


