<div class="card">
  <div class="card-header">
    {{name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="#" class="btn btn-primary">Comment</a>
    <div class="col-md-4 del-forum-post">
        <button class="btn btn-sm btn-danger" data-id="{{forum.id}}">DELETE POST</button>
    </div>
  </div>
</div>

<script src="/js/delete_button.js"></script>