:root {
  --lightblue: #1be3fa;
  --darkblue: #061928;
  --blue: #0b3b5f;
  --grey: #606970;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: var(--lightblue);
}

.moon {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
  object-fit: cover;
  background-color: black;
  opacity: 100%;
}

nav {
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
  padding: 0;
}

.header-content {
  display: flex;
  align-items: center;
}

.cerulean {
  position: relative;
  font-size: 50px;
  font-weight: 600;
  padding-top: 5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #12909e,
               1px 2px 0px #12909e,
               1px 3px 0px #12909e,
               1px 4px 0px #12909e,
               1px 5px 0px #12909e,
               1px 6px 0px #12909e,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
  color: var(--lightblue);
  font-weight: bold;
}

.logout {
  position: relative;
  left: 70rem;
  margin-top: 5rem;
}

.login {
  text-align: center; 
  margin-top: 1.5rem; 
  position: relative; 
  left: 58%; 
  transform: translateX(-50%); 
}

.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(96, 105, 112, 0.7);
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  font-weight: bold;
}

.login-header {
  text-align: center;
  margin-bottom: 1.3rem;
  margin-top: -3rem;
  font-weight: bold;
}

.register {
  text-align: center; 
  margin-top: 1.5rem;
  position: relative; 
  left: 58%; 
  transform: translateX(-50%); 
}

.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(96, 105, 112, 0.7);
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  font-weight: bold;
}

.register-header {
  text-align: center;
  margin-bottom: 1.3rem;
  margin-top: -3rem;
  font-weight: bold;
}

.form-group {
  margin-left: -3rem;
}

.email,
.password,
.username {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.account {
  margin-top: 2rem;
  margin-bottom: -4rem;
}

.inline-text {
  display: inline; /* Display the text inline */
  margin-right: 0.500rem; /* Add some spacing between text and link */
  
}

.inline-link {
  display: inline; /* Display the link inline */
  text-decoration: none;
  
}

.create-post {
  margin-left: 64rem;
}

.custom-button {
  background-color: var(--blue);
  color: var(--lightblue);
  border-color: var(--lightblue);
}

.custom-button:hover {
  background-color: #0a314e;
  color: #17c6da;
  border-color: #17c6da;
}

form {
  position: relative;
  align-items: center;
}

.main-container {
  width: 960px;
  height: 700px;
  background-color: #0a314e;
  opacity: 0.4; 
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
  border: 10px solid rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.dropdown {
  position: relative;
  top: -55px;
}

.dropdown-toggle {
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0;
  background-color: #0a314e;
  opacity: 0.4;
  width: 15.4%;
  border: 5px solid rgba(0, 0, 0, 0.9);
  height: 1415%;
}

.dropdown-item {
  border-radius: 0;
}

.btn-secondary{
  background-color: #0a314e;
  opacity: 0.4;
  border: 5px solid rgba(0, 0, 0, 0.9);
}

.btn-secondary:hover{
  background-color: #0a314e;
  opacity: 0.4;
  border: 5px solid rgb(27, 227, 250);
}
